{% extends 'portfolio/layout.html' %}

{% block content %}
<div class="mebyme">
    <h1>Sobre Mim</h1>
    <div class="flex-container">
        <div class="flex-item">
            <h2>Interesses</h2>
            <ul>
                <li>Comunicação efetiva</li>
                <li>Resolução de problemas</li>
                <li>Relacionamento interpessoal</li>
                <li>Capacitação de novos operadores</li>
                <li>Conhecimento técnico em captura de imagem</li>
                <li>Conhecimento básico em edição de imagem e vídeo</li>
            </ul>
        </div>
        <div class="flex-item">
            <h2>Aptidões</h2>
            <ul>
                <li>Conhecimento em gráficos e tabelas de Excel</li>
                <li>Operador de câmara</li>
            </ul>
        </div>
        <div class="flex-item">
            <h2>Competências</h2>
            <ul>
                <li>Português (Língua Materna)</li>
                <li>Inglês (C1: Compreensão oral, produção oral, leitura; B2: Escrita)</li>
            </ul>
        </div>
        <div class="flex-item">
            <h2>Experiência</h2>
            <h3>Operador de Caixa</h3>
            <p>Continente Cascais, Lisboa, Portugal<br>18/03/2022 – 17/03/2023</p>
            <h3>Tesoureiro e Secretário de Escola Bíblica</h3>
            <p>Igreja ADMP Cascais, Lisboa, Portugal<br>2017 – 2019</p>
            <h3>Operador de Câmara</h3>
            <p>RD Audiovisuais, Lisboa, Portugal<br>2018 – 2019</p>
        </div>
    </div>
    <div class="education">
        <h2>Educação e Formação</h2>
        <p>Universidade Lusófona<br>Licenciatura em curso<br>Campo Grande 376, 1749-024, Lisboa, Portugal<br>2022 – Atual</p>
    </div>
</div>
{% endblock %}
