{% extends 'bands/layout.html' %}

{% block content %}
    <h3>Login</h3>

    {% if mensagem %}
        <p>mensagem: {{ mensagem }}</p>
    {% endif %}
    <form action="{% url 'bands:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username..">
        <input type="password" name="password" placeholder="Password..">
        <input type="submit">
    </form>
    <p>Não tem uma conta? <a href="{% url 'bands:registro' %}">Registre-se aqui</a></p>
    <a href="{% url 'reset_password' %}">
      <button>Recuperar Palavra-chave</button>
    </a>
{% endblock %}
